---
---

<div>
  <p class="text-center whitespace-nowrap overflow-auto">
    <strong
      class="unset tracking-wider font-bold bg-clip-text text-transparent bg-gradient-to-r from-[#00abda] to-[#1476ff] hover:after:bg-gradient-to-r hover:after:from-[#00abda] hover:after:to-[#1476ff]"
      >我的作品</strong
    >
  </p>
  <ul class="mt-5">
    <li>
      <strong><a href="https://github.com/acmenlei/codecv">codecv</a></strong> 是一款完全免费的
      Web 在线简历工具，你可以使用 Markdown 和 Word 的方式去编写简历，可扩展性极高！<strong
        >最重要</strong
      >的是编写一套简历内容你就可以适配多个简历模板，<a
        href="https://codeleilei.gitee.io/markdown2pdf"
        target="_blank">尝试一下</a
      >
    </li>
    <li>
      <strong>
        <a href="https://github.com/acmenlei/markdown-plus">markdown-plus</a
        ></strong
      > 是一款语法解析器，它会将你的 MD 内容转换为 HTML ，在 Markdown 原本的基础上扩展了多列布局等语法，查看
      <a
        href="https://acmenlei.github.io/markdown-transform-html-demo/dist/"
        target="_blank">线上演示</a
      > 详细了解
    </li>

    <li>
      <strong><a href="https://github.com/acmenlei/typenet">typenet</a></strong>
      是一款支持异步链式调用的 Web 打字机，你可以完全支配输出的字体样式，查看
      <a href="https://acmenlei.github.io/typenet" target="_blank">线上演示</a> 来作进一步的了解
    </li>
    <li>
      <strong><a href="https://github.com/acmenlei/a4view">a4view</a></strong>
      支持你在 Web 中实时分页预览 A4纸 的效果，在一些 PDF 预览场景非常适用，同时解决了边界内容会被截断的问题
    </li>
    <li>
      <a href="https://github.com/acmenlei" class="text-sm">more</a>
    </li>
  </ul>

  <style></style>
</div>
