---
---

<div>
  <p class="text-center whitespace-nowrap overflow-auto">
    <code class="py-1 px-2">My Portfolios</code>
  </p>
  <ul class="mt-5">
    <li>
      <a
        class="unset tracking-wider font-bold bg-clip-text text-transparent bg-gradient-to-r from-[#00abda] to-[#1476ff] hover:after:bg-gradient-to-r hover:after:from-[#00abda] hover:after:to-[#1476ff]"
        href="https://github.com/Acmenlei/markdown-resume-to-pdf"
        >markdown-resume-to-pdf</a
      > 是一款完全免费的在线简历制作工具，基于<code>MD</code
      >语法进行展开，你可以非常灵活的
      <a href="https://codeleilei.gitee.io/markdown2pdf" target="_blank"
        >去编写</a
      >
      你的简历，<strong>最重要</strong
      >的是编写一套简历内容你就可以适配多个简历模板
    </li>
    <li>
      <a
        class="unset tracking-wider font-bold bg-clip-text text-transparent bg-gradient-to-r from-[#00abda] to-[#1476ff] hover:after:bg-gradient-to-r hover:after:from-[#00abda] hover:after:to-[#1476ff]"
        href="https://github.com/Acmenlei/markdown-transform-html"
        >markdown-transform-html</a
      > 是一款markdown转换器，它会将你的<code>MD</code>内容转换为<code
        >HTML</code
      >，查看
      <a
        href="https://acmenlei.github.io/markdown-transform-html-demo/dist/"
        target="_blank">线上演示</a
      > 来作进一步的了解
    </li>
    <li>
      <a
        class="unset tracking-wider font-bold bg-clip-text text-transparent bg-gradient-to-r from-[#00abda] to-[#1476ff] hover:after:bg-gradient-to-r hover:after:from-[#00abda] hover:after:to-[#1476ff]"
        href="https://github.com/Acmenlei/markdown-resume-to-pdf">typenet</a
      > 是一款支持异步链式调用的<code>Web</code
      >打字机，你可以完全支配输出的字体样式，查看
      <a href="https://acmenlei.github.io/typenet" target="_blank">线上演示</a> 来作进一步的了解
    </li>
    <li>
      <a href="https://github.com/acmenlei" class="text-sm">more</a>
    </li>
  </ul>

  <style></style>
</div>
