---
---

<div>
  <p class="text-center whitespace-nowrap overflow-auto">
    <strong
      class="unset tracking-wider font-bold bg-clip-text text-transparent bg-gradient-to-r from-[#00abda] to-[#1476ff] hover:after:bg-gradient-to-r hover:after:from-[#00abda] hover:after:to-[#1476ff]"
      >我的作品</strong
    >
  </p>
  <ul class="mt-5">
    <li>
      <strong
        ><a href="https://github.com/Acmenlei/markdown-resume-to-pdf"
          >markdown-resume-to-pdf</a
        ></strong
      > 是一款完全免费的在线简历制作工具，基于<code>MD</code
      >语法进行展开，你可以非常灵活的
      <a href="https://codeleilei.gitee.io/markdown2pdf" target="_blank"
        >去编写</a
      >
      你的简历，<strong>最重要</strong
      >的是编写一套简历内容你就可以适配多个简历模板
    </li>
    <li>
      <strong>
        <a href="https://github.com/Acmenlei/markdown-plus">markdown-plus</a
        ></strong
      > 是一款语法解析器，它会将你的<code>MD</code>内容转换为<code>HTML</code
      >，在<code>Markdown</code>原本的基础上扩展了多列布局等语法，查看
      <a
        href="https://acmenlei.github.io/markdown-transform-html-demo/dist/"
        target="_blank">线上演示</a
      > 详细了解
    </li>
    <li>
      <strong><a href="https://github.com/Acmenlei/typenet">typenet</a></strong>
      是一款支持异步链式调用的<code>Web</code
      >打字机，你可以完全支配输出的字体样式，查看
      <a href="https://acmenlei.github.io/typenet" target="_blank">线上演示</a> 来作进一步的了解
    </li>
    <li>
      <a href="https://github.com/acmenlei" class="text-sm">more</a>
    </li>
  </ul>

  <style></style>
</div>
